@inherits LayoutComponentBase

<style>
  h1 {
    --pico-font-family: Pacifico, cursive;
    --pico-font-weight: 400;
    --pico-typography-spacing-vertical: 0.5rem;
  }
</style>


<header><br></header>
<main class="container" style="text-align: center;">
    @Body
</main>
<footer></footer>
